#head {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  #block-head {
    margin-top: 280px;
    margin-bottom: 180px;
    .font(@proximanovaalt);
    font-size: 18px;
    color: @white;
    h1 {
      strong {
        .font(@proximanovaalt-bold);
        font-size: 60px;
      }
    }
  }
}