body.navbar-is-fixed-top {
  margin-top: 0;
}

.navbar-default {
  background-color: @azure;
  border-color: @white;
}

.path-frontpage {
  .navbar-default {
    background-color: transparent;
    border-color: @grey;
    .navbar-btn {
      margin-top: 42px;
      margin-bottom: 42px;
    }
    #block-revenuemasters-main-menu {
      .menu.nav {
        margin-top: 44px;
        margin-bottom: 44px;
        > li {
          &:last-child {
            > a {
              background-color: @azure;
              color: @white;
              &:hover,
              &:focus,
              &.is-active {
                color: @white;
                background-color: @grey;
              }
            }
          }
        }
      }
    }
    &.scrolled {
      background-color: @transparent-azure;
      border-color: @white;
      .navbar-btn {
        margin-top: 18px;
        margin-bottom: 18px;
      }
      #block-revenuemasters-main-menu {
        .menu.nav {
          margin-top: 20px;
          margin-bottom: 20px;
          > li {
            &:last-child {
              > a {
                background-color: @white;
                color: @azure;
                &:hover,
                &:focus,
                &.is-active {
                  color: @white;
                  background-color: @grey;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar-btn {
  margin-top: 18px;
  margin-bottom: 18px;
  .transition(margin 0.2s);
}

#block-revenuemasters-main-menu {
  .menu.nav {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    .transition(margin 0.2s);
    > li, > .open {
      > a {
        .font(@roboto, 500);
        padding: 0;
        margin: 15px;
        color: @white;
        background-color: transparent;
        &:hover,
        &:focus,
        &.is-active {
          border-bottom: 2px solid @white;
          margin-bottom: 13px;
          background-color: transparent;
        }
      }
      &:last-child {
        > a {
          .font(@roboto, 700);
          margin: 0 15px;
          padding: 15px 30px;
          border-radius: 25px;
          background-color: @white;
          color: @azure;
          &:hover,
          &:focus,
          &.is-active {
            border: none;
            color: @white;
            background-color: @grey;
          }
        }
      }
      .dropdown-menu { 
        display: none;
      }
      &:hover {
        .dropdown-menu { 
          display: block;
        }
      }
      .dropdown-menu {
        margin-right: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        border: 1px solid @grey;
        > li, > .open {
          > a {
            .font(@roboto, 500);
            padding: 0;
            margin: 15px;
            color: @grey;
            background-color: transparent;
            &:hover,
            &:focus,
            &.is-active {
              color: @azure;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}