#block-rmcloudcontractmanagement,
#block-productsrmcloudcontractmanagementbanner,
#block-bannerfaq,
#block-productsrmreimbursementacceleratorbanner,
#block-bannerourclients,
#block-bannerblog,
#block-bannercontact,
#block-banneraboutus,
#block-bannerpricing {
  min-height: 300px;
  background-image: url('../images/product-banner.jpg');
}

.page-node-type-page .main-container,
.path-webform .main-container {
  text-align: center;
}

.icon-container {
    float: left;
    color: #009eeb;
    font-size: 53px;
}

.body-contact {
  margin-left: 68px;
}
.page-node-19 .js-quickedit-page-title,
.page-node-20 .js-quickedit-page-title, 
.page-node-17 .js-quickedit-page-title,
.page-node-12 .js-quickedit-page-title,
.page-node-11 .js-quickedit-page-title,
.page-node-10 .js-quickedit-page-title,
.path-blog .js-quickedit-page-title,
.path-webform .js-quickedit-page-title {
  display: none;
}

ul.faq {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.faq li {
  background: url('../images/question.png') no-repeat left top;
  padding-left: 44px;
}