#block-rmcloudcontractmanagement,
#block-productsrmcloudcontractmanagementbanner,
#block-bannerfaq,
#block-productsrmreimbursementacceleratorbanner,
#block-bannerourclients,
#block-bannerblog,
#block-bannercontact,
#block-banneraboutus,
#block-bannerpricing,
#block-bannerwhytobuy,
#block-bannerdemo,
#block-bannerpartners {
  min-height: 300px;
  background-image: url('../images/product-banner.jpg');
  @media (min-width: @screen-md-min) {
    min-height: 361px;
  }
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
  }
} 

#block-bannerpricing {
  background-image: url('../images/pricing.jpg');
}

#block-bannerpartners{
  background-image: url('../images/pricing.jpg');
}

#block-banneraboutus {
  background-image: url('../images/pricing.jpg');
}

#block-bannerourclients {
  background-image: url('../images/pricing.jpg');
}

#block-bannercontact {
  background-image: url('../images/pricing.jpg');
}

#block-bannerdemo {
  background-image: url('../images/pricing.jpg');
}

#block-bannerblog {
  background-image: url('../images/pricing.jpg');
}

#block-rmcloudcontractmanagement{
  background-image: url('../images/product.jpg');
}

#block-productsrmreimbursementacceleratorbanner {
  background-image: url('../images/rmccm.jpg');
}

#block-productsrmcloudcontractmanagementbanner {
  background-image: url('../images/rmccm.jpg');
}

#block-bannerwhytobuy {
  background-image: url('../images/buy.jpg');
}

#block-bannerfaq {
  background-image: url('../images/faq-banner.jpg');
}


.page-node-type-page .main-container,
.path-webform .main-container {
  text-align: center;
}
.path-blog, 
.page-node-type-article {
  .field--name-field-image {
    padding-left: 0;
  }
}

.icon-container {
  float: left;
  color: #009eeb;
  font-size: 40px;
}

.body-contact {
  margin-left: 50px;
  font-size: 14px;
  h4 {
    margin-bottom: 0;
  }
}

.page-node-8,
.page-node-19,
.page-node-20, 
.page-node-17,
.page-node-12,
.page-node-11,
.page-node-10,
.page-node-18,
.page-node-21,
.path-blog,
.path-webform {
 .js-quickedit-page-title {
    display: none;
  }
}

ul.faq {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.faq li {
  background: url('../images/question.png') no-repeat left top;
  padding-left: 44px;
}

.why-us{
  padding: 15px 0px;
  @media (min-width: @screen-sm-min) {
    padding: 25px;
  }
  @media (min-width: @screen-md-min) {
    padding: 50px;
  }
  h4 {
    text-align: left;
    padding-left: 29%;
  }
  .why-us-list {
    list-style-type: none;
    text-align: left;
    padding-left: 28%;
    li{
      padding-top: 8px;
      line-height: 22px;
      span{
        font-size: 27px;
        color: green;
        padding-right: 9px;
        padding-top: 11px;
        line-height: 22px;
      }
    }
  }
}
  
.why-us-grey{
  background-color: rgba(128, 128, 128, 0.09);
}

#webform-submission-contact-form{
  display: none;
}

.page-node-8,
.page-node-11,
.page-node-18,
.page-node-19,
.page-node-17,
.page-node-20,
.page-node-12,
.path-blog,
.page-node-type-article,
.path-webform{
  .breadcrumb{
    margin-top: -194px;
    @media (min-width: @screen-sm-min) {
      margin-top: -162px;
    }
  }
  @media (min-width: 768px){
    .main-container {
        margin-top: 138px;
    }
  }
}

.path-frontpage .main-container {
  padding-top: 0px !important;
}

#webform-submission-demo-form{
 .captcha {
    margin: 0 auto;
    display: table;
  }
  #edit-actions{
    float:none;
    #edit-submit {
      margin: 0 auto;
      float: none;
      display: block;
      margin-top: 25px;
    }
  }
}
.pricing-boxes{
  .box > .icon { text-align: center; position: relative; }
  .box > .icon > .image {position: relative; z-index: 2; margin: auto; width: 110px; height: 110px; border: 8px solid white; line-height: 106px; border-radius: 50%; background: #009eeb; vertical-align: middle; }
  .box > .icon:hover > .image { background: #333; }
  .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
  .box > .icon:hover > .image > i { color: white !important; }
  .box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
  .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
  .box > .icon > .info > h3.title { font-size: 16px; color: #222; font-weight: 700; }
  .box > .icon > .info > p { font-size: 17px; color: #666; line-height: 1.5em; margin: 20px;}
  .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
  .box > .icon > .info > .more a {font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
  .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
  .box .space { height: 30px; }
}