.view-reasons-to-consider.view-display-id-page_1 {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 45px;
  }
  @media (min-width: @screen-md-min) {
    margin-bottom: 85px;
  }
  .view-header {
    .clearfix();
      margin-top: 15px;
      margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-top: 25px;
      margin-bottom: 55px;
    }
    @media (min-width: @screen-md-min) {
      margin-top: 50px;
      margin-bottom: 110px;
    }
  }
  .view-content {
    .clearfix();
    .views-row {
      width: 50%;
      float: left;
      padding: 0 15px;
      margin-bottom: 15px;
      @media (min-width: @screen-sm-min) {
        width: 20%;
      }
      @media (max-width: @screen-xs-max) {
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
  }
  .view-footer {
    .clearfix();
    padding-top: 15px;
    border-top: 1px solid @white-gray;
    @media (min-width: @screen-sm-min) {
      margin-top: 5px;
      padding-top: 20px;
    }
    @media (min-width: @screen-md-min) {
      margin-top: 35px;
      padding-top: 35px;
    }
  }
}

.view-reasons-to-consider {
  .view-content {
    .views-row {
      .views-field-field-image {
        img {
          margin: 0 auto;
        }
      }
      .views-field-title {
        font-size: 16px;
        margin-top: 20px;
        @media (min-width: @screen-md-min) {
          font-size: 19px;
          margin-top: 40px;
        }
      }
    }
  }
}